<div nz-row>
  <form nz-form  class="form" (ngSubmit)="onSubmit(newSeaForm)" #newSeaForm="ngForm">
    <div nz-col nzSpan="13">
      <nz-form-item>
        <nz-form-label [nzSpan]="11">Upload your receptor</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input type="file" accept=".pdb" (change)="proteinFileChange($event)" name="pdb_file">
          <span>Please submit pdb pdbfile!</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11">Center on select residue</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input nz-input name="resn" [(ngModel)]="newSea.resn">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11">Write your SMILES</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input nz-input name="smiles" [(ngModel)]="newSea.smiles" placeholder="your smiles">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11" nzRequired>Database select</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-select [(ngModel)]="newSea.mol_db" name="mol_db">
            <nz-option nzLabel="zinc" nzValue="zinc"></nz-option>
            <nz-option nzLabel="chembl" nzValue="chembl"></nz-option>
            <nz-option nzLabel="wi" nzValue="wi"></nz-option>
            <nz-option nzLabel="chinese-medicine" nzValue="chinese-medicine"></nz-option>
            <nz-option nzLabel="bailingwei" nzValue="bailingwei"></nz-option>
            <nz-option nzLabel="jianqiao" nzValue="jianqiao"></nz-option>
          </nz-select>
          <nz-form-explain></nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11">Target select</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <nz-select [(ngModel)]="newSea.target" name="target">
            <nz-option *ngFor="let target of seaTargets"
                       [nzLabel]="target.target"
                       [nzValue]="target.target"
            ></nz-option> </nz-select>
          <nz-form-explain></nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11" nzRequired>Job name</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input nz-input name="work_name" [(ngModel)]="newSea.work_name" placeholder="input your job name">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="11" nzRequired>Your email</nz-form-label>
        <nz-form-control [nzSpan]="9">
          <input nz-input name="email" [(ngModel)]="newSea.email" placeholder="email address">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="6" [nzOffset]="12">
          <button nz-button style="background-color: orangered; width: 200px; border-color: orangered" [nzType]="'primary'" type="submit">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="11">
      <!--jsme 插件-->
      <app-jsme [elementId]="'sea-smiles'"
                #applet
                [width]="'350px'"
                [height]="'320px'"
                [showDemo]="true"
                [option]=""
      >loading JSME widget
      </app-jsme>
      <br/>
      <button nz-button class="smile-button" nzType="primary" type="button" (click)="getJsmeSmiles()">Get Smile</button>
      <br/>
      <textarea rows="4" nz-input class="smile-textarea" [value]="jsmeSmiles" #textarea></textarea>
    </div>
  </form>
</div>
