<nz-tabset>
  <nz-tab nzTitle="Screening1">
    <form nz-form class="form" (click)="openTooltip()" [formGroup]="screeningForm" (submit)="onSubmit()">
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>任务名称</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <input nz-input formControlName="work_name" placeholder="请输入任务名称">
          <nz-form-explain *ngIf="screeningForm.get('work_name').dirty && screeningForm.get('work_name').errors || screeningForm.get('work_name').pending">
            请输入任务名称！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>任务描述</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <textarea nz-input  formControlName="work_decs"></textarea>
          <nz-form-explain *ngIf="screeningForm.get('work_decs').dirty&&screeningForm.get('work_decs').hasError('required')">
            请输入任务的描述！
          </nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>数据库</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-select formControlName="mol_db">
            <nz-option nzLabel="zinc" nzValue="zinc"></nz-option>
            <nz-option nzLabel="chembl" nzValue="chembl"></nz-option>
            <nz-option nzLabel="wi" nzValue="wi"></nz-option>
            <nz-option nzLabel="userDb" nzValue="userDb"></nz-option>
          </nz-select>
          <nz-form-explain></nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="screeningForm.value.mol_db === 'userDb'">
        <nz-form-label [nzSpan]="8" [nzRequired]>用户分子库文件</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <input type="file"
                 accept=".pdb"
                 (change)="userDbFileChange($event)"
          >
          <span>&nbsp;请上传pdb格式的文件！</span>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">靶点选择</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-select formControlName="target_select">
            <nz-option *ngFor="let target of seaTargets"
                       [nzLabel]="target.target"
                       [nzValue]="target.target"
            ></nz-option>
          </nz-select>
          <nz-form-explain></nz-form-explain>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">靶点空间位置</nz-form-label>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Size_x</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="Size_x"></nz-input-number>
          <nz-form-explain *ngIf="screeningForm.get('Size_x').dirty && screeningForm.get('Size_x').hasError('required')">
            请输入x方向大小！
          </nz-form-explain>
          <span>x方向大小</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Size_y</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="Size_y"></nz-input-number>
          <nz-form-explain *ngIf="screeningForm.get('Size_y').dirty && screeningForm.get('Size_y').hasError('required')">
            请输入y方向大小！
          </nz-form-explain>
          <span>y方向大小</span>
        </nz-form-control>
      </nz-form-item><nz-form-item>
      <nz-form-label [nzSpan]="8" [nzRequired]>Size_z</nz-form-label>
      <nz-form-control [nzSpan]="7">
        <nz-input-number [nzMin]="0" [nzStep]="1" formControlName="Size_z"></nz-input-number>
        <nz-form-explain *ngIf="screeningForm.get('Size_z').dirty && screeningForm.get('Size_z').hasError('required')">
          请输入z方向大小！
        </nz-form-explain>
        <span>z方向大小</span>
      </nz-form-control>
    </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" [nzRequired]>Center_x</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-input-number [nzStep]="0.001" formControlName="Center_x"></nz-input-number>
          <nz-form-explain *ngIf="screeningForm.get('Center_x').dirty && screeningForm.get('Center_x').hasError('required')">
            请输入中心x坐标大小！
          </nz-form-explain>
          <span>中心x坐标</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" [nzRequired]>Center_y</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-input-number [nzStep]="0.001" formControlName="Center_y"></nz-input-number>
          <nz-form-explain *ngIf="screeningForm.get('Center_y').dirty && screeningForm.get('Center_y').hasError('required')">
            请输入中心z坐标大小！
          </nz-form-explain>
          <span>中心y坐标</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" [nzRequired]>Center_z</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <nz-input-number  [nzStep]="0.001" formControlName="Center_z"></nz-input-number>
          <nz-form-explain *ngIf="screeningForm.get('Center_z').dirty && screeningForm.get('Center_z').hasError('required')">
            请输入中心z坐标大小！
          </nz-form-explain>
          <span>中心z坐标</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>受体文件</nz-form-label>
        <nz-form-control [nzSpan]="7">
          <input type="file"
                 accept=".pdb"
                 (change)="pdbTargetFileChange($event)"
          >
          <!--<nz-form-explain *ngIf="screeningForm.get('pdbFile').dirty && screeningForm.get('pdbFile').hasError('required')">-->
          <!--请上传蛋白质文件！-->
          <!--</nz-form-explain>-->
          <span>&nbsp;请上传pdb格式的文件！</span>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control [nzSpan]="7" [nzOffset]="8">
          <button nz-button [nzType]="'primary'" type="submit">提交任务</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-tab>
  <nz-tab nzTitle="Screening2">
    <app-online-screening2></app-online-screening2>
  </nz-tab>
</nz-tabset>
